<main>
  <div class="container">
    <header>
      <div class="notification-subtitle">
        <p>Notifications</p>
        <span class="nb-notification">3</span>
      </div>
      <p class="mark-read">Mark all as read</p>
    </header>
    <div class="notifications">
      <div
        class="notification"
        *ngFor="let notification of notifications"
        [ngClass]="{ 'unread-notification': notification.read === false }"
      >
        <div class="main-content">
          <div class="user-profile-picture">
            <img [src]="notification.picturePath" />
          </div>
          <div class="user-info">
            <p>
              <span class="user">{{ notification.user }}</span>
              {{ notification.action }}
              <span
                class="item"
                *ngIf="notification.isClub == false; else clubItem"
              >
                {{ notification.item }}
              </span>
              <ng-template #clubItem>
                <span class="club">
                  {{ notification.item }}
                </span>
              </ng-template>
              <span style="color: red" *ngIf="!notification.read">*</span>
            </p>
            <span class="time">{{ notification.time }}</span>
            <div class="message" *ngIf="notification.message">
              {{ notification.message }}
            </div>
          </div>
          <div class="reacted-on-image" *ngIf="notification.imagePath">
            <img [src]="notification.imagePath" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
